# Database 
DATABASE_URL="postgresql://postgres:password@localhost:5432/jewellery_db" #replace this with supabase db url temporary
DIRECT_URL=
# NextAuth 
NEXTAUTH_URL="http://localhost:3000" 
NEXTAUTH_SECRET="your-secret-key-here" 
# OAuth Providers (Optional) 
GOOGLE_CLIENT_ID="your-google-client-id" 
GOOGLE_CLIENT_SECRET="your-google-client-secret"
# Environment 
NODE_ENV="development"
EMAIL_FROM=
EMAIL_SERVER=
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER_USER=
EMAIL_SERVER_PORT=
EMAIL_SERVER_HOST=


